body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:0px;
  width:960px;
  height:2150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1067px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:2310px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:2310px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1147px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:2269px;
  width:1100px;
  height:186px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:186px;
}
#u6 {
  position:absolute;
  left:2px;
  top:85px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:2285px;
  width:81px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:70px;
  top:2312px;
  width:122px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:70px;
  top:2338px;
  width:74px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:70px;
  top:2364px;
  width:130px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:82px;
  top:2374px;
  width:106px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:14px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:290px;
  top:2285px;
  width:70px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:290px;
  top:2312px;
  width:91px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:290px;
  top:2338px;
  width:131px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:500px;
  top:2285px;
  width:200px;
  height:114px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:114px;
}
#u24 {
  position:absolute;
  left:2px;
  top:49px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:510px;
  top:2294px;
  width:152px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#A8A8A8;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:14px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:510px;
  top:2318px;
  width:142px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#A8A8A8;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:780px;
  top:2285px;
  width:116px;
  height:14px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:780px;
  top:2315px;
  width:48px;
  height:48px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:853px;
  top:2315px;
  width:48px;
  height:48px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:926px;
  top:2315px;
  width:48px;
  height:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:2409px;
  width:1100px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u38 {
  position:absolute;
  left:70px;
  top:2426px;
  width:960px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:70px;
  top:170px;
  width:960px;
  height:380px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:380px;
}
#u41 {
  position:absolute;
  left:2px;
  top:182px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:120px;
  width:1100px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:70px;
  top:136px;
  width:116px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:919px;
  top:136px;
  width:151px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#78EF72;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:714px;
  top:136px;
  width:176px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:253px;
  top:136px;
  width:67px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:920px;
  top:10px;
  width:96px;
  height:30px;
  font-size:11px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:418px;
  top:0px;
  width:264px;
  height:290px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:290px;
}
#u56 {
  position:absolute;
  left:2px;
  top:134px;
  width:260px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:90px;
  top:178px;
  width:202px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#1E1E1E;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:116px;
  top:313px;
  width:570px;
  height:130px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:130px;
}
#u60 {
  position:absolute;
  left:2px;
  top:57px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:138px;
  top:326px;
  width:526px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:138px;
  top:360px;
  width:526px;
  height:68px;
  font-size:15px;
  color:#8D8D8D;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:68px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:266px;
  top:468px;
  width:270px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:790px;
  top:201px;
  width:180px;
  height:152px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:152px;
}
#u68 {
  position:absolute;
  left:2px;
  top:68px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:800px;
  top:211px;
  width:146px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:800px;
  top:234px;
  width:160px;
  height:109px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:109px;
}
#u72 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:790px;
  top:363px;
  width:180px;
  height:152px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:152px;
}
#u74 {
  position:absolute;
  left:2px;
  top:68px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:800px;
  top:396px;
  width:160px;
  height:109px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:109px;
}
#u76 {
  position:absolute;
  left:2px;
  top:46px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:800px;
  top:373px;
  width:128px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:70px;
  top:549px;
  width:960px;
  height:311px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:311px;
}
#u80 {
  position:absolute;
  left:2px;
  top:148px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:394px;
  top:568px;
  width:311px;
  height:46px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:492px;
  top:808px;
  width:117px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:70px;
  top:2149px;
  width:960px;
  height:121px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:121px;
}
#u86 {
  position:absolute;
  left:2px;
  top:52px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:415px;
  top:2186px;
  width:270px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:215px;
  top:640px;
  width:100px;
  height:100px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u90 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:500px;
  top:640px;
  width:100px;
  height:100px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u92 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:785px;
  top:640px;
  width:100px;
  height:100px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u94 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:185px;
  top:750px;
  width:160px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:468px;
  top:750px;
  width:163px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:722px;
  top:750px;
  width:226px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:70px;
  top:859px;
  width:960px;
  height:431px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:431px;
}
#u102 {
  position:absolute;
  left:2px;
  top:208px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:321px;
  top:890px;
  width:458px;
  height:46px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:40px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:46px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:430px;
  top:980px;
  width:556px;
  height:230px;
  font-size:25px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:230px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:70px;
  top:1719px;
  width:960px;
  height:431px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:431px;
}
#u108 {
  position:absolute;
  left:2px;
  top:208px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:372px;
  top:1750px;
  width:356px;
  height:46px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:40px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:46px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:70px;
  top:1289px;
  width:960px;
  height:431px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:431px;
}
#u112 {
  position:absolute;
  left:2px;
  top:208px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:350px;
  top:1320px;
  width:399px;
  height:46px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:40px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:46px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:672px;
  top:1410px;
  width:134px;
  height:110px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:110px;
}
#u116 {
  position:absolute;
  left:2px;
  top:47px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:816px;
  top:1410px;
  width:134px;
  height:110px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:110px;
}
#u118 {
  position:absolute;
  left:2px;
  top:47px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:672px;
  top:1530px;
  width:134px;
  height:110px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:110px;
}
#u120 {
  position:absolute;
  left:2px;
  top:47px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:816px;
  top:1530px;
  width:134px;
  height:110px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:110px;
}
#u122 {
  position:absolute;
  left:2px;
  top:47px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:102px;
  top:1410px;
  width:556px;
  height:230px;
  font-size:25px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:230px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:111px;
  top:980px;
  width:279px;
  height:228px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:228px;
}
#u126 {
  position:absolute;
  left:2px;
  top:106px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:433px;
  top:1820px;
  width:234px;
  height:81px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:81px;
}
#u128 {
  position:absolute;
  left:2px;
  top:31px;
  width:230px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:297px;
  top:1926px;
  width:244px;
  height:200px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:200px;
}
#u130 {
  position:absolute;
  left:2px;
  top:92px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:559px;
  top:1926px;
  width:244px;
  height:200px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:200px;
}
#u132 {
  position:absolute;
  left:2px;
  top:92px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
